name: CI

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        # TODO: support windows and mac?
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13", "3.14"]
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.os == 'windows-latest' }}
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
      - name: Install the project
        run: |
          uv sync --locked --group dev --no-install-project
          uv run maturin develop --uv -r
      - name: Run Python tests
        run: uv run pytest
      - name: Run Rust tests
        run: uv run cargo test
